@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Restaurant

<h4>Add a new Restaurant</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Name, new {@class = "form-control", type="text", id="name"})
  @Html.LabelFor(model => model.Description, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Description, new {@class = "form-control", type="text"})
  @Html.LabelFor(model => model.Price, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Price, new {@class = "form-range", type="range", min="1", max="5", id="price"})
  @Html.LabelFor(model => model.Location, new {@class="form-label"})
  @Html.TextBoxFor(model => model.Location, new {@class = "form-control", type="text", id="location"})
  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")

  <input type="submit" value="Add Restaurant" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Back to All Restaurants", "Index")</p>