@{
  Layout = "_Layout";
}

@model ProjectName.Models.ChildObject

<h2>Edit: @Html.DisplayFor(model => model.Name)</h2>
<hr />

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ChildObjectId)

  @Html.LabelFor(model => model.SomeProperty, new {@class="form-label"})
  @Html.EditorFor(model => model.SomeProperty, new {@class = "form-control", type="text", id="some-property"})

  <input type="submit" value="Save Changes" class="btn btn-outline-warning" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>